$text-color:green;

// .header{
//     text-align: center;
//   }
//   .blog-post, h2 {
//     color: $text-color;
//   }

// Nested scss

// .blog-post {
//   h1 {
//     text-align: center;
//     color: $text-color;
//   }
//   p {
//     font-size: 20px;
//   } }

// Reusable css with mixin

@mixin border-radius($radius){
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  -ms-border-radius:$radius;
  border-radius:$radius;
  }
  
  
    #awesome {
      width: 150px;
      height: 150px;
      background-color: green;
      @include border-radius(100px);
  
    }


// Use @if and @else to Add Logic To Your Styles

// @mixin border-stroke($val){
//   @if $val==light{
//     border:1px solid black;
//   }
//     @else if $val==medium{
//     border:3px solid black;
//   }
//     @else if $val==heavy{
//     border:6px solid black;
//   }
//   @else{
//     border:none;
//   }

// }
//   #box {
//     width: 150px;
//     height: 150px;
//     background-color: red;
//     @include border-stroke(heavy);
//   }

// Use @for to Create a Sass Loop

// @for $j from 1 to 6 {
//   .text-#{$j}{
//     font-size: 15px * $j
//   }
// }

// Use @each to Map Over Items in a List
  // $colors:(one:blue,two:black,three:red);

  // @each $key,$color in $colors {
  //   .#{$color}-bg { background-color : $color; }
  // }

  //   div {
  //     height: 200px;
  //     width: 200px;
  //   }


  // Apply a Style Until a Condition is Met with @while

  // $index:1;
  // @while $index < 6{
  //   .text-#{$index}{
  //     font-size: 15px * $index;
  //   }
  //   $index : $index+1;
  // }


  // Split Your Styles into Smaller Chunks with Partials
  // @import statement to import a partial named _variables.scss into the main.scss file.
  // @import 'variables';

  // Extend One Set of CSS Styles to Another Element

    h3{
      text-align: center;
    }
    .info{
      width: 200px;
      border: 1px solid black;
      margin: 0 auto;
    }

    .info-important{
      @extend .info;
      background-color:magenta;
    }

  
